<div class="container">
  <h2>登録情報変更</h2>
  <%= form_with model: @user, local: true do |f| %>
    <div class="row　justify-content-center">
      <div class="form">
        <%= f.label :username, "名前", class: "label" %><br/>
        <%= f.text_field :username, :size => "30*30", class: "input" %>
      </div>

      <div class="form">
        <%= f.label :email, "メールアドレス" %><br/>
        <%= f.email_field :email, :size => "30*30" %>
      </div>　

      <div class="form">
        <%= f.label :password, "パスワード" %><br/>
        <%= f.password_field :password, :size => "30*30" %>
      </div>

      <div class="form">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br/>
        <%= f.password_field :password_confirmation, :size => "30*30" %>
      </div>
    </div>
    <%= f.submit %>
    <% end %>
    <%= link_to "退会", user_path(id: current_user), method: :delete %>
</div>