<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <% if @user.id == current_user.id %>
      <h1><%= @user.username %>のマイページ</h1>   
      <%= link_to "体温　予定の記入", new_event_path %>
      <%= month_calendar events: @event do |date, event| %>
        <%= date %>
        <% event.each do |event| %>
          <div>
            <%= event.name %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2>運動メニュー</h2></br>
      <h3><%= @user.username %>さんが考案したトレーニングメニューリスト</h3>
      <div class="paginate text-center">
        <%= will_paginate @trainings, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

        <% @trainings.each do |n| %>
          <ul>
            <li><%= n.title %></li>
            <li><%= n.content %></li>
          </ul>
        <% end %>

        <%= will_paginate @trainings, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

        <% end %>
        <h3><%= link_to "メニューの作成", new_training_path %></h3>
      </div>
    </div>
  </div>
</div>