<!DOCTYPE html>
<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/shared/shims" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "layouts/shared/header" %>
    <%= yield %>
    <%= render "layouts/shared/footer" %>
  </body>
</html>
