<!DOCTYPE html>
<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= render "shared/shims" %>
  </head>

  <body>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "#{message_type}") %>
  <% end %>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
